
<a href='https://www.darshan.ac.in/'> <img src='https://www.darshan.ac.in/Content/media/DU_Logo.svg' width="250" height="300"/></a>
<pre>
<center><b><h1>Python Programming - 2101CS405</b></center>
<center><b><h1>Lab - 3</b></center>    
<pre>

# for and while loop

### 01) WAP to print 1 to 10

In [ ]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

### 02) WAP to print 1 to n

In [ ]:
n = int(input("Enter Number:"))
for i in range(1,n+1):
    print(i)

Enter Number:20
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

### 03) WAP to print odd numbers between 1 to n

In [ ]:
n = int(input("Enter Number:"))
for i in range(1,n+1):
    if(i%2!=0):
      print(i)

Enter Number:10
1
3
5
7
9

### 04) WAP to print numbers between two given numbers which is divisible by 2 but not divisible by 3

In [ ]:
n1 = int(input("Enter start number:"))
n2 = int(input("Enter end number"))
for i in range(n1,n2+1):
    if(i%2==0 and i%3!=0):
      print(i)

Enter start number:1
Enter end number20
2
4
8
10
14
16
20

### 05) WAP to print sum of 1 to n numbers

In [ ]:
n = int(input("Enter number:"))
sum=0
for i in range(1,n+1):
    sum =sum +i

print(sum)

Enter number:10
55

### 06) WAP to print sum of series 1 + 4 + 9 + 16 + 25 + 36 + ...n

In [ ]:
n = int(input("Enter number:"))
sum = 0
for i in range(0, n+1):
    sum = sum + (i*i);

print(sum)

Enter number:9
285

### 07) WAP to print sum of series 1 – 2 + 3 – 4 + 5 – 6 + 7 ... n

In [ ]:
n = int(input("Enter number:"))
sum=0
for i in range(1,n+1):
    if(i%2==0):
        sum = sum-i
    else:
        sum = sum+i

print(sum)

Enter number:5
3

### 08) WAP to print multiplication table of given number.

In [ ]:
num = int(input("Enter the number:"))
for i in range(1,11):
    print(str(num) + " X " + str(i) + " = " + str(i*num))

Enter the number:6
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
6 X 10 = 60

### 09) WAP to find factorial of the given number

In [ ]:
num = int(input("Enter the number:"))
fact = 1
for i in range(1,num+1):
    fact = fact * i

print("Factorial of this number is:"+str(fact))

Enter the number:5
Factorial of this number is:120

### 10) WAP to find factors of the given number

In [ ]:
n = int(input("Enter number:"))
for i in range(1, n+1):
  if(n%i==0):
    print(i)

Enter number:32
1
2
4
8
16
32

### 11) WAP to find whether the given number is prime or not.

In [ ]:
num = int(input("Enter number to cheak prime or not:"))
flag = 0
for i in range(2, num):
    if (num%i == 0):
        flag = flag+1 
        break
if (flag==1):
    print(str(num) +" number is not prime")
else:
    print(str(num) +" number is prime")

Enter number to cheak prime or not:13
13 number is prime

### 12) WAP to print sum of digits of given number

In [ ]:
n = int(input("Enter number:"))
sum = 0
while n!=0:
    num =n%10
    sum = sum + num
    n = n//10
    
print(sum)

Enter number:44
8

### 13) WAP to check whether the given number is palindrome or not

In [ ]:
n = int(input("Enter number:"))
sum = 0
rev=n
while n!=0:
    i = n%10
    sum = sum * 10 + i
    n=n//10

if(sum==rev):
    print("given is palindrome")
else:
    print("given is not palindrome")

Enter number:121
given is palindrome

### 01) WAP to check whether the given number is Armstrong or not.

In [ ]:
n = int(input("Enter number:"))
arm = 0
cheak = n
while n!=0:
    i = n%10
    arm = arm + i*i*i
    n=n//10

if(arm == cheak):
  print("Given number is Armstrong")
else:
  print("Given number is not Armstrong")

Enter number:343
Given number is not Armstrong

### 02) WAP to find out prime numbers between given two numbers.

In [ ]:
n1 = int(input('Enter starting number :'))
n2 = int(input('Enter ending number :'))

for number in range(n1,n2+1) :
    if number > 1 :
        for i in range(2,number) :
            if (number % i) == 0 :
                break
        else :
            print(number)

Enter starting number :1
Enter ending number :45
2
3
5
7
11
13
17
19
23
29
31
37
41
43

### 03) WAP to calculate x^y without using any function.

In [ ]:
x = int(input("Enter X:"))
y = int(input("Enter Y:"))
p=1
for i in range(1,y+1):
    p = p*x

print(p)

Enter X:4
Enter Y:3
64

### 04) WAP to check whether the given number is perfect or not.
[Sum of factors including 1 excluding number itself]

In [ ]:
n = int(input("Enter number:"))
sum=0
i=1
while i<n:
  if(n%i==0):
    sum=sum+i
  i = i+1

if(sum==n):
  print("Given number is perfect")
else:
  print("Given number is not perfect")

Enter number:496
Given number is perfect

### 05) WAP to find the sum of 1 + (1+2) + (1+2+3) + (1+2+3+4)+...+(1+2+3+4+....+n)

In [ ]:
n = int(input("Enter number:"))
sum=0
for i in range(1,n+1):
    for j in range(1,i+1):
      sum = sum + j

print(sum)

Enter number:5
35

### 06) WAP to print Multiplication Table up to n

In [19]:
num = int(input("Enter the number:"))
for i in range(1, num+1):
    for j in range(1, 11):
      print(f"{i}X{j}={i*j}")
    print("***********")

Enter the number:10
1X1=1
1X2=2
1X3=3
1X4=4
1X5=5
1X6=6
1X7=7
1X8=8
1X9=9
1X10=10
***********
2X1=2
2X2=4
2X3=6
2X4=8
2X5=10
2X6=12
2X7=14
2X8=16
2X9=18
2X10=20
***********
3X1=3
3X2=6
3X3=9
3X4=12
3X5=15
3X6=18
3X7=21
3X8=24
3X9=27
3X10=30
***********
4X1=4
4X2=8
4X3=12
4X4=16
4X5=20
4X6=24
4X7=28
4X8=32
4X9=36
4X10=40
***********
5X1=5
5X2=10
5X3=15
5X4=20
5X5=25
5X6=30
5X7=35
5X8=40
5X9=45
5X10=50
***********
6X1=6
6X2=12
6X3=18
6X4=24
6X5=30
6X6=36
6X7=42
6X8=48
6X9=54
6X10=60
***********
7X1=7
7X2=14
7X3=21
7X4=28
7X5=35
7X6=42
7X7=49
7X8=56
7X9=63
7X10=70
***********
8X1=8
8X2=16
8X3=24
8X4=32
8X5=40
8X6=48
8X7=56
8X8=64
8X9=72
8X10=80
***********
9X1=9
9X2=18
9X3=27
9X4=36
9X5=45
9X6=54
9X7=63
9X8=72
9X9=81
9X10=90
***********
10X1=10
10X2=20
10X3=30
10X4=40
10X5=50
10X6=60
10X7=70
10X8=80
10X9=90
10X10=100
***********