<a href='https://www.darshan.ac.in/'> <img src='https://www.darshan.ac.in/Content/media/DU_Logo.svg' width="250" height="300"/></a>
<pre>
<center><b><h1>Python Programming - 2101CS405</b></center>
<center><b><h1>Lab - 1</b></center>    
<pre>

### 01) WAP to print “Hello World”

In [1]:
print("Hello World")

Hello World

### 02) WAP to print your address i) using single print ii) using multiple print

In [2]:
print("Utakash boyz hostel\n Morbi road\n Rajkot, Near Darshan university,hadala")

Utakash boyz hostel
 Morbi road
 Rajkot, Near Darshan university,hadala

### 03) WAP to print addition of 2 numbers (without input function)

In [3]:
a = 10
b = 70
print("Addition of 2 number is", a+b)

Addition of 2 number is 80

### 04) WAP to calculate and print average of 2 numbers (without input function)

In [4]:
a = 10
b = 56
print("Average of 2 number is", (a+b)/2)

Average of 2 number is 33.0

### 05) WAP to add two number entered by user.

In [5]:
a = int(input("Enter first number:"))
b = int(input("Enter second number:"))

print("Addition:",a+b)

ValueError: invalid literal for int() with base 10: ''

### 06) WAP to calculate simple interest.

In [ ]:
p = int(input("Enter Principal:"))
n = int(input("Enter Time:"))
r = int(input("Enter Rate:"))

print("Simple interest is ",(p*n*r)/100)

Simple interest is  54000.0

### 07) WAP Calculate Area and Circumfrence of Circle

In [ ]:
r = int(input("Enter Radius:"))

print("The area of circle is",3.14*r*r)
print("The Circumfrence of circle is",2*3.14*r)

The area of circle is 314.0
The Circumfrence of circle is 62.800000000000004

### 08) WAP to print Multiplication table of given number without using loops.

In [ ]:
n = int(input("Enter number of multiplication table:"))
print(n*1,n*2,n*3,n*4,n*5,n*6,n*7,n*8,n*9,n*10)

16 32 48 64 80 96 112 128 144 160

### 09) WAP to calculate Area of Triangle (hint: a = h * b * 0.5)

In [ ]:
h = int(input("Enter Height:"))
b = int(input("Enter Base:"))

print("The area of tringle is",h*b*0.5)

The area of tringle is 100.0

### 10) WAP to convert degree to Fahrenheit and vice versa.

In [ ]:
c = int(input("Enter Degree in Celsius:"))
f = int(input("Enter Fahrenhit:"))

Fahrenhit = (c * (9/5))+32
Dgree = (f-32)*(5/9)

print("Dgree to Fahrenhit conversion is ",Fahrenhit)
print("Fahrenhit to Dgree conversion is ",Dgree)

Dgree to Fahrenhit conversion is  113.0
Fahrenhit to Dgree conversion is  0.0

### 11) WAP to calculate total marks and Percentage.

In [ ]:
sub1 = int(input("Enter marks of sub1:"))
sub2 = int(input("Enter marks of sub2:"))
sub3 = int(input("Enter marks of sub3:"))

print("Total is",sub1+sub2+sub3)
print("Percentage is",(sub1+sub2+sub3)/3)

Total is 119
Percentage is 39.666666666666664

### 12) Compute distance between two points taking input from the user (Pythagorean Theorem).

In [ ]:
import math
a = int(input("Enter side a:"))
b = int(input("Enter side b:"))

c = math.sqrt(a*a + b*b)
print("Third side is",c)

Third side is 22.20360331117452

### 13) WAP to convert seconds into hours, minutes & seconds and print in HH:MM:SS
[e.g. 10000 seconds mean 2:46:40 (2 Hours, 46 Minutes, 40Seconds)]

In [ ]:
from datetime import timedelta
sec = int(input("Enter Seconds:"))

td = timedelta(seconds=sec)
# --------------------------------
# h = (sec / 3600);
# remainingSeconds = sec - (h * 3600);
# m = remainingSeconds / 60;
# remainingSeconds = remainingSeconds - (m * 60);
# s = remainingSeconds;
# --------------------------------
print("HH:MM:SS",td)

:

### 14) WAP to enter distance into kilometer and convert it into meter, feet,inches, and centimeter

In [ ]:
km = int(input("Enter The distance into Km:"))

print("Meter:",km*1000)
print("Feet:",km*3280.841666667)
print("Inches:",km * 39370.1)
print("Centimeter:",km*100000)

Meter: 23000
Feet: 75459.358333341
Inches: 905512.2999999999
Centimeter: 2300000